<section id="head">
    <nav id="tools" class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: black;">
          <img src="/img/logo.png" alt="logo" width="100" height="50" />
          <h1 class="header">
            كنيسة مارجرجس والسامرية
          </h1>
          <br>
          اسرة مارجرجس اعدادي
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 pages">
            <li class="nav-item" style="color: white;">
              <a class="nav-link" aria-current="page" href="index">
                الصفحة الرئيسية
                </a
              >
            </li>
            <li class="nav-item" style="color: white;">
              <a class="nav-link" href="product">
                الهدايا
              </a>
            </li>
            <li class="nav-item" style="color: white;">
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2 search"
              type="search"
              placeholder="Search"
              aria-label="بحث"
            />
            <button class="btn lonbtn search" type="submit">
              بحث
            </button>
          </form>
        </div>
      </div>
    </nav>
  </section>
